openapi: 3.0.0
info:
  version: 0.0.1
  title: TODO API
  description: 我不知道要寫什麼描述
  termsOfService: terms
  contact:
    name: "Alin"
    url: "https://slides.com/alincode"
    email: "alincode@gmail.com"
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
servers: 
  - url: https://development.gigantic-server.com/v1
    description: Development server
  - url: https://staging.gigantic-server.com/v1
    description: Staging server
  - url: https://api.gigantic-server.com/v1
    description: Production server
tags: 
  - name: todo
    description: todo 相關操作
paths:
  /api/todos:
    get:
      description: "取得所有 TODO"
      tags: 
        - todo
      parameters:
        - in: query
          name: checked
          schema:
            type: boolean
          description: "過濾是否完成"
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TODO'
    post:
      description: "新增 TODO"
      tags: 
        - todo
      security:
        - BearerAuth: []
      responses:
        '200':
          description: ""
  /api/todos/{todoId}:
    get:
      description: "取得 TODO"
      tags: 
        - todo
      parameters:
        - in: path
          name: todoId
          schema:
            type: integer
          required: true
          description: TODO ID
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TODO'
    patch:
      description: "更新 TODO"
      tags: 
        - todo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: todoId
          schema:
            type: integer
          required: true
          description: TODO ID
      responses:
        '200':
          description: ""
    delete:
      description: "刪除 TODO"
      tags: 
        - todo
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: todoId
          schema:
            type: integer
          required: true
          description: TODO ID
      responses:
        '204':
          description: ""
components:
  schemas:
    TODO:
      type: object
      properties:
        id:
          type: integer
        text:
          type: string
        checked:
          type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer